**/obj/
**/bin/
**/.vs/
*.env
*.exe
/BRaVe-Portal/appsettings.json
*.dll
*.exe
bin/
obj/
**/logs/
*.log
*.dll
*.exe
*.dll
*.exe
bin/
obj/
*.dll
*.exe
*.bin
*.pdb
**/Debug/net8.0/*
Neurotec_Biometric_12_4_SDK/
Neurotec_Biometric_2025_2_SDK/
.gradle/
**/.gradle/
DevResources/
BRaVeMobile/app/libs/neurotec/sdk_12_4/
BRaVeMobile/app/libs/neurotec/aar_bk/
BRaVeMobile/app/libs/neurotec/
BRaVeMobile/app/release/
BRaVe-db-SQL/
AI-QA-Portal/
Win64_x64.zip
azure-pipelines.yml
appsettings.json
appsettings_abdul.Development.json
appsettings_abdul.json
