<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>FTP</WebPublishMethod>
    <ResourceId>/subscriptions/f1169078-ecd9-4488-be9b-e7df5a65677e/resourceGroups/iom-d-we-rgp-brave-002/providers/Microsoft.Web/sites/iom-d-we-webapp-brave-002</ResourceId>
    <IsLinux>True</IsLinux>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://iom-d-we-webapp-brave-002.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>db52f358-7860-44d8-8936-d1d8989a0b63</ProjectGuid>
    <publishUrl>ftp://waws-prod-am2-825.ftp.azurewebsites.windows.net</publishUrl>
    <DeleteExistingFiles>false</DeleteExistingFiles>
    <FtpPassiveMode>true</FtpPassiveMode>
    <FtpSitePath>site/wwwroot</FtpSitePath>
    <UserName>iom-d-we-webapp-brave-002\$iom-d-we-webapp-brave-002</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>